body {margin: 0; padding: 0;}
.header {
position:absolute;
background-color: #f5f5f5;
width: 100%;
height: 80px;
display: block;
}
.wrapper
{
position: absolute;
width: 100%;
height: 100%;
}
#name
{
font-family: Arial, sans-serif;
font-size: 24px; 
text-align: left;
margin-left: 30px;
margin-top: 10px;
}
#text
{
font-family: Arial, sans-serif;
font-size: 16px; 
text-align: left;
margin-left: 30px;
margin-top: -18px;
}
#text2
{
font-family: Arial, sans-serif;
font-size: 18px; 
padding-top: 10px;
margin-top: -3px;
text-align: left;
margin-left: 30px;
line-height: 0.1;
}
#text3
{
font-family: Arial, sans-serif;
font-size: 18px; 
padding-top: 10px;
margin-top: -3px;
text-align: center;
margin-left: 30px;
line-height: 0.1;
}
.contact
{
position: relative;
background-color: gray;
margin-top: 80px;
width:100%;
background-color: #f8f8ff;
height: 280px;
}
.vk
{
margin-top: -10px;
}
.photo
{
width:210px;
height: 270px;
float: right;
margin-top: -320px;
margin-right: 30px;
}
.other
{
position: relative;
width: 100%;
height: 350px;
background-color: #f8f8ff;
}
.other2
{
position: absolute;
width: 100%;
top:361px;
height: 100px;
background-color: rgba(0, 0, 0, 0.0);
}
.footer
{
	position: relative;
	top: 700px;
	width: 100%;
	height: 89px;
	background-color: #f5f5f5;
}